.login_modal_container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: var(--modal-bg-color);
    z-index: 100;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 320px;
}

.login_header{
    position: relative;
}
.login_header .close_button{
    position: absolute;
    right: -23px;
    top: -30px;
    color:var(--modal-secondary-color)
}

.login_header .header_text{
    font-size: 24px;
    font-weight: 300;
}

.login_header,
.login_inputs,
.login_actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Login content */
.login_inputs{
    height: 120px;
    justify-content: space-between;
}

.input_container{
    width: 100%;
}

.input_hint{
    width: 100%;
    color: var(--modal-gray-color);
    margin: 0;
    text-align: center;

    font-weight: 100; 
    font-size: 14px; 
    color: var(--modal-gray-color)
}

.login_input_label{font-weight: 100; font-size: 14px; color: var(--modal-gray-color)}

.login_input_box{
    position: relative;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid black;
    transition: .5s;
}
.validation_error{border-bottom: 1px solid var(--modal-secondary-color) !important;}

.login_input_box input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
}

.login_input_box .visibility_icon{
    position: absolute;
    right: -5px;
    top:50%;
    transform: translateY(-50%);
    z-index: 101;
}
.input_otp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.input_otp input{
    border-bottom: 1px solid black;
    width: 30px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}

/* Login actions */
.login_actions{
    position: relative;
}
.login_actions button{
    border: 1px solid var(--modal-primary-color);
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;

    font-size: 16px;
    font-weight: 300;
    color: var(--modal-primary-color);
    transition: .3s;
}

.login_actions button:hover{
    color: var(--modal-bg-color);
    background-color: var(--modal-primary-color);
}

.login_actions span{
    position: relative;
    top: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 300;
    color: var(--modal-primary-color)
}