:root{
    --registry-header-blue:#3F40F0;
    --registry-header-sky:#7ee0f8;
    --registry-header-green:#219653;
    --registry-header-red:#EB5757;

    --registry-field-size-extra_small:40px;
    --registry-field-size-small:100px;
    --registry-field-size-medium:180px;
    --registry-field-size-large:390px;
}

.registry_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registry_header{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 1em;
    width: 95%;
    padding: 5px;
}

/* hr{margin: auto; border-color: rgb(209, 209, 209);} */

.registry_header__nav{
    display: flex;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    align-items: center;
}

/* Left */
.left{justify-content: space-between; }

.registry_header__nav .title{
    font-size: 22px;
    font-weight: 100;
    color: var(--registry-header-blue);
    margin:0;
    margin-right: 3em;
}

.registry_header__nav .buttons_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registry_header__nav .button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    width: 80px;
    height: 22px;
    font-size: 10px;
    /* padding: 0; */
}
.registry_header__nav .button:focus{border: 1px solid var(--registry-header-blue);}


/* Right */
.right{justify-content: flex-end; width: 30vw;}
.registry_header__nav .payment_info{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.registry_header__nav .payment_info hr{margin: 0 5px;}

.not_paid, .total{font-size: 17px; font-weight: 300;}
.not_paid{color:var(--registry-header-red)}
.total{color:var(--registry-header-green)}

.registry_create{margin: 0; padding:0;}
.registry_header__filters .download_button{margin: 0; padding: 0;}


/* Filters */
.registry_header__filters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.registry_header__filters .item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.registry_header__filters hr{margin: 0; height: 20px; border: 0.5px solid #BDBDBD;}
.item-text{font-size: 14px; font-weight: normal; line-height: 21px;}

.extra_small{width: var(--registry-field-size-extra_small);}
.small{width: var(--registry-field-size-small);}
.medium{width: var(--registry-field-size-medium);}
.large{width: var(--registry-field-size-large);}

.icon_unfold{font-size: 14px !important;}
.file_icon, .icon_download{color:var(--registry-header-blue); transition: color .3s !important;}
.file_icon:hover, .icon_download:hover{color:var(--registry-header-sky)}


