

.content_container{
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.content_left_column,
.content_right_column{
    width: 48%;
    padding: 5px;
}

.subrow{
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: .5em;
    background-color: var(--modal-bg-color);
}

.subrow:hover{
    cursor: pointer;
}

.subrow_item{
    display: flex;
    justify-content: center;
    align-self: center;
}

.subrow_checked{
    background-color: #ececfd;
}