.signals {
  width: 100%;
  background: #F3F4F8;
  min-height: 800px;
}

.signals__container {
  padding-top: 15px;
}

.signals__header {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  position: relative;
  padding: 5px 20px;
  font-size: .80em;
  color: #2F80ED;
}

.signals__title {
  font-weight: 300;
  user-select: none;
}

.signals__forgot {
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.forgot-sum {
  font-size: .90em;
}

.signals__type-cards {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.signals__type-card {
  max-width: 595px;
  width: 70%;
  margin-right: 20px;
}

.signals__type-card:last-child {
  margin-right: 0px;
}

.signals__type-card_title-box {
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #fff;
  display: flex;
  position: relative;
  padding: 13px 20px;
  font-size: .70em;
  color: #333;
  margin-bottom: 15px;
}

.signals__type-card_title {
   font-weight: 400;
}

.signals__type-card_length {
  position: absolute;
  margin-top: 3px;
  right: 0;
  margin-right: 20px;
  font-weight: 400;
}

.signals__card {
  width: 100%;
  padding: 5px 15px;
  height: 200px;
  background: #FFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
}

.signals__card_header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 5px;
  position: relative;
  display: flex;
}

.signals__card_header img {
  position: absolute;
  right: 0;
  margin-right: -5px;
}

.signals__warning {
  font-weight: 400;
  font-size: .80em;
  color: #EB5757;
}

.signals__card_content {
  width: 100%;
  height: 100px;
  word-break: break-word;
  font-size: .75em;
  padding-top: 10px;
  font-weight: 300;
}

/* Signals component */
.signals_container{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.signals_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--modal-bg-color);

  margin-top: 1em;
  padding: 5px 10px;
  border-radius: 10px;
  width: 98%;
  box-shadow: 0px 2px 5px 1px rgba(168, 168, 168, 0.329);
}

.signals_header .left .left_text{
  color: var(--registry-header-blue);
  font-weight: 100;
  font-size: var(--table-field-font-size-big);
}

.signals_header .right hr{border:none; width: 1px; margin: 0 10px; height: 25px;}
.signals_header .right .right_text{
  color: var(--registry-header-blue);
  font-weight: 100;
  font-size: var(--table-field-font-size-large);
}

.signals_types{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin-top: 1em;
}

.signal_type_header{
  display: flex;
  justify-content: space-evenly;
  width: 32%;
  align-items: center;
  background-color: var(--modal-bg-color);
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0px 2px 5px 1px rgba(168, 168, 168, 0.329);
}

.signals_list_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 98%;
  margin-top: 1em;
}

.signal_list_section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  align-items: center;
}

.signal_type_header .left, .signal_card_title .title_left_button{width: 80%;}
.signal_type_header .right, .signal_card_title .title_right_button{width: 10%;}
.signal_type_header .left .left_text, 
.signal_type_header .right .right_text{font-weight: 300;}
.signal_card_title .title_button{text-align: right;}

.signal_card_container{
  background-color: var(--modal-bg-color);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px rgba(168, 168, 168, 0.329);
  margin-bottom: 1em;
  padding: 10px 0;
}
.signal_card_container hr{margin: 5px 0 10px 0;}


.signal_card_title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.signal_card_title .title_text{color: var(--modal-secondary-color); font-weight: 300; text-align: left; font-size: 16px;}
.signal_card_content{
  padding: 0 12px;
}

.signal_card_content .content_text{
  font-weight: 300;
}

@media only screen and (min-device-width: 1920px) {
  .signals__card {
    height: 150px;
  }
}

@media only screen and (min-device-width: 2500px) {
  .signals__type-card {
    max-width: 745px;
  }

  .signals__card {
    height: 140px;
  }
}
